header{
    width: 100vw;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
}

div.container-fluid {
    padding: 0;
    margin-top: 104px;
}

div.header {
    background-color: #2C3650;
    width: 100vw;
    height: 55px;
    display: flex;
    align-items: center;
}


span {
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid white;
    color: white;
    margin-left: 5px;   
}

h2.font-2 {
    border-radius: 500px;
    text-align: center;
    vertical-align: middle;
    font-weight:400;
    transform: scaleX(1.3);
    margin-top: 50%;
    transform: translateY(-50%);
}

h5.font-3 {
    text-align: center;
    font-weight: 400;
    margin: auto 0 auto 10px;

}

h6.font-6 {
    text-align: center;
    clear: both;
    color: rgba(0, 0, 0, 0.815);
    font-weight: 400;
    padding: 13px 0 13px 0;
    background-color: #E5E5E5;
    box-shadow: 0 1px 5px #727171d5;
    margin-bottom: 0;
}

div.row {
    margin: 5px;
    padding: 0;
}

div.img {
    text-align: center;
    width: 100%;
    height: calc(100vw - 10px);
    padding: 0;
}

img.photo {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 5px;
    z-index: 3;
}


span.footer-block {
    width: calc(100% - 10px);
    position: absolute;
    bottom: 6px;
    left:0;
    background: black;
    z-index: 7;
    border: none;
    height: 8%;
    font-size: 2vw;
    opacity: 0.7;
    overflow: hidden;
    z-index: 2;
}

img.photo:hover {
    transition: 1s all;

    z-index: 1;
}

p.text {
    font-size: 4.1vw;
}

@media screen and (min-width: 375px) {
    div.img {
        width: 50%;
        height: calc(50vw - 10px);
        padding: 0;
    }
    p.text {
        font-size: 2.5vw;
    }

}

@media screen and (min-width: 768px) {
    div.img {
        height: calc(33.33vw - 10px);
        padding: 0;
    }

    p.text {
        font-size: 1.4vw;
    }

}

@media screen and (min-width: 1200px) {
    div.img {
        height: calc(25vw - 10px);
        padding: 0;
    }

    p.text {
        font-size:1.1vw;
    }

}